:root {
    font-size: 60%;
    --color-background: #2c2c2c;
    --color-primary-lighter: #713cec;
    --color-primary-light: #5e31c5;
    --color-primary: #191919;
    --color-primary-dark: #774DD6;
    --color-primary-darker: #6842C2;
    --color-secundary: #ef9931;
    --color-secundary-dark: #d68829;
    --color-title-in-primary: #FFFFFF;
    --color-text-in-primary: #d68829;
    --color-text-title: #d68829;
    --color-text-complement: #939099;
    --color-text-base: #313131;
    --color-line-in-white: #E6E6F0;
    --color-input-background: #F8F8FC;
    --color-button-text: #FFFFFF;
    --color-box-base: #FFFFFF;
    --color-box-footer: #FAFAFC;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root {
    height: 100vh;
}

body {
    background: var(--color-background);
    color: var(--color-text-base);
}

#root {
    display: flex;
    align-items: center;
    justify-content: center;
}

body, input, button, textarea {
    font: 500 1.6rem Poppins;
}

.container {
    width: 90vw;
    max-width: 700px;
}

@media (min-width: 700px) {
    :root {
        font-size: 62.5%;
    }
}